    #editor {
        position: absolute;
        top: 0;
        right: 0;
        height: 300px;
        left: 0;
    }
    #hyper {
        position: absolute;
        top: 300px;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 10px;
    }

    #results a {
      text-decoration: none;
      color: gray;
    }

    .hyperace-match{
        background: rgba(255, 255,54,  .5);
    }

    .hyperace-line {
        background: rgba(200, 200, 255, .5);
        width: 100%;
    }
